html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
}

.content {
  position: relative;
  top: 25%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.content-heading {
  margin-bottom: 24px;
  color: #272727;
  font-size: 44px;
}

.content-teaser {
  margin-bottom: 24px;
  color: #595959;
  font-size: 22px;
}

.content-cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: #009688;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #009688;
}

.content-cta:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.content-login-link {
  display: inline-block;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.social-login-container {
  font-size: 45px;
  margin-top: 3%;
  border: 2px solid #009688;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.2);
  color: #3F51B5;
  width: 50%;
  margin: 0 auto;
}

.social-login-container > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #757575;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.nav-wrapper {
  background-color: #3F51B5;
}

.gp-login:hover {
  color: #d34836;
  text-shadow: 1px 1px 3px #d34836;
}

.tw-login:hover {
  color: #00aced;
  text-shadow: 1px 1px 3px #00aced;
}

.fb-login:hover {
  color: #3b5998;
  text-shadow: 1px 1px 3px #3b5998;
}

.content-rules {
  position: absolute;
  top: 40%;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
}